@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap");
html {
  width: auto;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
}

img {
  max-width: 100%;
  padding: 0;
}

.flexCentre {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexAround {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
}

.decorationNone {
  text-decoration: none;
}

.flexColumnCentre {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flexColumnAround {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.flexColumnBetween {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

html, body {
  font-family: "Roboto", sans-serif;
}

/*les couleurs de la page*/
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*pour les anciens navigateurs*/
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
/*footer*/
.footer {
  background-color: #353535;
  padding: 25px;
  margin: auto;
}
.footer_logo {
  font-size: 24px;
  font-family: "Shrikhand", cursive;
  color: white;
  margin-top: 10px;
  margin-bottom: 15px;
  padding-left: 40px;
}
.footer_txt {
  color: white;
}
.footer_icon {
  margin-right: 0;
  color: white;
  margin-right: 20px;
}
.footer_List {
  margin-bottom: 10px;
}

@media only screen and (max-width: 1024px) {
  /* Footer - Tablet */
  footer {
    padding: 10px;
    margin: 0 10px;
  }
}
@media only screen and (max-width: 600px) {
  /* Footer - Mobile */
  footer {
    padding: 0;
    margin: 0;
  }
}
/*header*/
.header {
  height: 63px;
  padding: 30px 0px 10px 0px;
  background-color: white;
  justify-content: center;
  align-items: center;
}
.header_logo {
  padding: 15px;
  margin: 5px 5px 5px 5px;
  width: 300px;
  height: 50px;
}

.newtag {
  display: inline-block;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  width: 80px;
  background-color: #99E2D0;
  color: #008766;
  position: absolute;
  right: 10px;
  top: 15px;
}

/*classes générales*/
/*champ de recherche*/
.searchbar {
  width: 100%;
}
.searchbar_loc {
  background-color: #eaeaea;
  text-align: center;
  padding: 15px 0 15px 0;
  font-weight: 700;
  box-shadow: inset 0 2px 5px 0 #D3D3D3;
  width: 100%;
}
.searchbar_icon {
  margin-right: 0;
}
.searchbar_txt {
  border: none;
  background-color: transparent;
  margin-left: 20px;
  font-size: 25px;
}

/*accueil*/
.home {
  margin-top: 25px;
  font-weight: bolder;
  padding: 40px 30px 55px 30px;
  background-color: white;
  text-align: center;
}
.home_tilte {
  margin-bottom: 20px;
  font-weight: bolder;
}
.home_subtilte {
  margin-bottom: 30px;
}

.btnexplo {
  display: block;
  width: max-content;
  margin: auto;
  background-image: linear-gradient(to right, #FF79DA, #9356DC);
  color: white;
  border-radius: 30px;
  box-shadow: 2px 2px 10px #D3D3D3;
  padding: 15px 20px;
  font-weight: bold;
  transform: scale(1);
  transition: transform 500ms;
  opacity: 1;
}
.btnexplo:hover {
  transform: scale(1.1);
  opacity: 0.8;
  box-shadow: 2px 2px 10px #D3D3D3;
}

/*Fonctionnement*/
.process {
  padding: 55px 20px 45px 20px;
}
.process_title {
  margin-bottom: 30px;
}
.process_icons {
  margin-right: 15px;
  color: #666666;
}
.process_choice {
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #9356DC;
  display: inline-block;
  text-align: center;
  position: relative;
  left: -45px;
  color: white;
}
.process_order {
  height: 75px;
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  box-shadow: 2px 2px 10px #D3D3D3;
  border-radius: 10px 10px 10px 10px;
  padding: 0 70px 0 30px;
  margin-bottom: 20px;
  margin-left: 10px;
}
.process_order:hover {
  background-color: #e4d5f6;
}
.process_order:hover :nth-child(2) {
  color: #9356DC;
}

/*restaurant*/
.restaurant {
  padding: 55px 20px 45px 20px;
  background-color: #f6f6f6;
}
.restaurant_title {
  margin-bottom: 30px;
}
.restaurant_menu {
  position: relative;
  height: 250px;
  margin-bottom: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 10px #D3D3D3;
}
.restaurant_img {
  display: block;
  max-height: 175px;
  width: 100%;
  border-radius: 10px 10px 0 0;
  object-fit: cover;
}
.restaurant_desc {
  padding: 20px 15px 20px 15px;
  display: flex;
  justify-content: space-between;
}

/*loader*/
.loader {
  border-top: 10px solid #9356DC;
  border-bottom: 10px solid #FF79DA;
  border-left: 10px solid #99E2D0;
  border-right: 10px solid #99E2D0;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  -o-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  /*placement loader au milieu de la page*/
  margin: auto;
  /*centré horizontalement*/
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/*# sourceMappingURL=style.css.map */
