/*animation des coeurs*/
.heartColor{
    color: black;
    cursor: pointer;
    &:hover{
        animation: transformcolor 1s ease-in-out;
        background: linear-gradient(170deg, $color-primary, $color-secondary);
        top: 0;
        left: 0;
        font-weight: bold;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.heartSize{
    font-size: 1.33333em;
    line-height: 1em;
    vertical-align: -.0667em;
}