
html{
    width: auto;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-family: 'Shrikhand', cursive;
}

ul {
    list-style-type: none;
    padding: inherit;
    padding-left: 14px;
}

a {
    text-decoration: none;
    color: inherit;
}

.flex {
    display: flex;
}

img{
    max-width: 100%;
    padding: 0;
}

.flexCentre{
    display: flex;
    justify-content: center;
    align-items: center;
    }
    
    .flexAround{
    display: flex;
    justify-content: space-around;
    align-items: center;
    }
    
    .flexBetween{
        display: flex;
        justify-content: space-between;
    }
    
    .decorationNone{
    text-decoration: none;
    }
    
    .flexColumnCentre{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .flexColumnAround{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .flexColumnBetween{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }    

