
html{
    width: auto;
    margin: auto;
}

body {
    margin: 0em 4em;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}
.flex {
    display: flex;
}

/*les couleurs de la page*/
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$colorwhite: white;