@keyframes spin{
    0%{ transform: rotate(0deg);}
    100%{ transform: rotate(360deg);}
}

/*pour les anciens navigateurs*/
@-webkit-keyframes spin{
    0%{ -webkit-transform: rotate(0deg);}
    100%{ -webkit-transform: rotate(360deg);}
}

/*pour faire disparaitre le loader*/
@keyframes loader{
    0%{
        background-color: rgba(196,195,192,1);
    }
    25%{
        background-color:rgba(196,195,192,1);;
    }
    50%{
        background-color:rgba(196,195,192,1);
    }
    80%{
        background-color:rgba(196,195,192,0.5);
    }
    100%{
        background-color:rgba(196,195,192,0.5);
        visibility: hidden;
    }
}

/*pour faire apparaitre les plats de la carte progressivement*/
@keyframes appearance{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(1);
    }
}


/*pour souligner les titres du menu: entrees plats desserts*/
@keyframes underlign{
    0%{
        transform: scaleX(0);
    }
    100%{
        transform: scaleX(1);
    }
}

/*animation pour coloration coeur*/
@keyframes transformcolor{
    0% {
        opacity: 0;
      }
      50% {
        opacity: 0.5;
      }
      100% {
        opacity: 1;
      }
    }