/*les couleurs de la page*/
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-fourth: #b07cf0;


$color-white: white; 
$color-fond:#e4e4e4;
$color-shadow: #D3D3D3;
$color-darkgrey: rgb(102, 102, 102) ;
$color-shadow-dark: grey;

$image: "a_la_francaise", "le_delice_des_sens", "note_enchantee", "palette_du_gout";

$title: 'Shrikhand', sans-serif;