/*les couleurs de la page*/
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;

$color-white: white; 
$color-shadow: #D3D3D3;
$color-darkgrey: rgb(102, 102, 102) ;
$color-shadow-dark: rgb(44, 44, 44);

$image: "a_la_francaise", "le_delice_des_sens", "note_enchantee", "palette_du_gout";
