/*footer*/
.footer{
    background-color: #353535;
    padding: 25px 10px;
    margin: auto;
    //display: inline;
    &_logo{
        font-size: 24px;
        font-family: 'Shrikhand', cursive;
        color: $color-white;
        margin-top: 10px;
        margin-bottom: 15px;
        padding-left: 10px;
    }
    &_txt{
        color: $color-white;
    }
    &_icon{
        margin-right: 0;
        color: $color-white;
        margin-right: 20px;
    }
    &_List{
        margin-bottom: 10px;
        
    }
}

@media only screen and (max-width: 1024px) {
    /* Footer - Tablet */
    footer{
        padding: 10px;
        margin: 0 10px;
    }
}

@media only screen and (max-width: 600px) {

    /* Footer - Mobile */
    footer {
        padding: 0;
        margin: 0;
    }
}

@media only screen and (min-width: 1200px){
    footer ul{
        display: inline-flex;
        justify-content: space-between;
        width: 88%;
        padding: 0;
        margin: 14px;
    }
}