/*footer*/
.footer{
    background-color: #353535;
    padding: 25px;
    margin-left: 15px;
    &_logo{
        font-size: 24px;
        font-family: 'Shrikhand', cursive;
        color: $colorwhite;
        margin-top: 10px;
        margin-bottom: 15px;
        padding-left: 40px;
    }
    &_txt{
        color: $colorwhite;
    }
    &_icon{
        margin-right: 20px;
        color: $colorwhite;
    }
    &_List{
        margin-bottom: 10px;
    }
}