@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Shrikhand&display=swap');
@import "../base/reset.scss", "../base/typography.scss";
@import "../utils/mixins.scss", "../utils/variables.scss", "../utils/animation.scss";
@import "../components/button.scss", "../components/check.scss";

/*header*/
.card_header{
    padding: 20px 25px 10px 25px;
    display: flex;
    align-items: center;
    &_logo{
        margin: auto;
        font-family: $title;
    }
    &_back{
        font-size: 20px;
    }
}

/*image carte*/
.card_img{
    max-height: 250px;
    width: 100%;
    object-fit: cover;
}

/*menu des cartes*/ 
.card_container{
    margin-top: -30px;
    position: relative;
    border-radius: 30px 30px 0 0;
    background-color: $color-fond;
    padding: 35px 15px 80px 15px;
    &_header{ 
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 45px;
        &_title{
        font-family: $title;
        }
    }
}

.menu{
    padding-bottom: 40px;
    &_header{
        margin-bottom: 25px;
        ::after{
            content: "";
            display: block;
            margin-top: 5px;
            width: 40px;
            height: 3px;
            background-color: $color-tertiary;
            animation: underlign 2s;
            animation-fill-mode: both;
            transform: scale(0);
        }
    }
    &_card{
        opacity: 0;
        height: 70px;
        width: 97%;
        padding-left: 10px;
        background-color: white;
        display: flex;
        align-items: center;
        border-radius: 10px;
        margin-bottom: 15px;
        overflow: hidden;
        @include shadow;
        /*temps d'apparition des cartes du menu*/
        @for $i from 1 through 4 {
            &:nth-of-type(#{$i}) {
                animation: appearance 800ms 200ms *$i forwards;
            }
        }
        /*transform: scale(0);*/
        animation-fill-mode: both;
        &_text{
            width: 90%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            &--plus{  /*texte tronqué*/
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }
        &_price{
            margin-left: 10px;
        }
        &_check{ /*pour la cloche qui tourne*/
            height: 70px;
            width: 60px;
            opacity: 0;
            background-color: $color-tertiary;
            margin-left: 25px;
            margin-right: -70px;
            border-radius: 0 10px 10px 0;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all 0.7s ease-in-out;
        }
        &:hover :nth-child(3){
            opacity: 1;
            margin-right: 0px;
        }
        &:hover .check_icons{
            opacity: 1;
            transform: rotate(-360deg);
        }
    }
}

/*version desktop des menus*/
@media screen and (min-width: 1200px) {
    .menu{
        width: 25%;
    }
    .card_container{
        width: 80%;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (min-width: 1200px){
    .container{
        display: flex;
        width: 100%;
        margin: 0;
        justify-content: space-around;
    }
}


